/* ********Style for the Whole Page ************ */


body {
  font-family: sans-serif;
}
/* ********Style for the Sidebar Area ************ */

#img-logo{
  max-width: 108px;
  padding-top: 20px;
}

#side-panel ul {
  list-style-type: none;
}

/*#side-panel div > p {
  background-color: yellow;
  line-height: 10px;
}*/
/* ********Style for the Navigational Area ************ */

#top-bar ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: right;
}

#top-bar ul li {
  display: inline;
  padding: 3px;
 }


#nav-right {
  float: right;
}

#nav-left {
  float: left;
}

/* ********Style for the Container Area ************ */

.container {
  clear: both;
}

.row .col-md-3 {
  text-align: center;
}

.row .col-md-3 p {
  font-size: 90%;
}

#todays-pic{
  float: left;
}
