/* ********Style for the Whole Page ************ */


body {
  font-family: sans-serif;
  list-style-type: circle;
}
/* ********Style for the Sidebar Area ************ */

#img-logo{
  max-width: 108px;
  padding-top: 20px;
}

#side-panel ul {
  list-style-type: none;
}

/*#side-panel div > p {
  background-color: yellow;
  line-height: 10px;
}*/
/* ********Style for the Navigational Area ************ */

#top-bar ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: right;
}

#top-bar ul li {
  display: inline;
  padding: 3px;
 }


#nav-right {
  float: right;
}

#nav-left {
  float: left;
}

/* ********Style for the Container Area ************ */

.container {
  clear: both;
}

.row .col-md-3 {
  text-align: center;
}

.row .col-md-3 p {
  font-size: 90%;
}

.img-float-right {
  float: right;
  padding: 10px 0 10px 10px;
}

.img-float{
  float: left;
  padding: 10px 10px 0 0;
}

#vegtext {
  padding-top: 16%;
  padding-left: 37%;
}

.col-md-7 .panel-body{
  background-color: #f5fffa;
}

.col-md-5 .panel-body{
  background-color: #f5faff;
}

.panel-danger{
  background-color: #fff9f9;
}

@media screen and (max-width: 768px) {
  #vegtext {
    padding: 5% 0 0 0;
  }

  .img-float {
    float: none;
  }
}
